body {margin:0px;}

* {
  font-family:  muli, sans-serif;
  font-weight: lighter;
}

h1 {
  margin-bottom: 60px;
  text-transform: uppercase;
}

h3 {text-transform: uppercase;
  font-size: 19px;
}

hr {margin: 40px 0px 80px 0px;}

div {margin-top: 40px;}

b {font-weight: normal;}

/*index.html*/
.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 800px;
}

.bild {
  width: 230px;
  height: 230px;
  float: right;
}

.left span {
  display: inline-block;
  width: 300px;
}

.leftshort span {
  display: inline-block;
  width: 100px;
}

.kasten div {
  background-color: lightblue;
  width: 19px;
  height: 19px;
  display: inline-block;
}

.kasten h3 {
  display: inline-block;
  margin-left: 20px;
}


/*about.html*/

.main-nav li {
  display: inline-block;
  width:100px;
}

.main-nav span {
  float:right;
}

.fixheader {
  background-color: white;
  width: 100%;
  position: fixed;
}

.rainy {
  width:100%;
  clip: rect(20px 100% 220px 0%);
  overflow: hidden;
}
